$offBlack: #1c1c1e;
$offWhite: #fafafa;
$dashboardSplit: 35%;
$fontSizeHeading1: 80px;
$fontSizeHeading2: 64px;
$fontSizeHeading3: 48px;
$fontSizeSecondary1: 36px;
$fontSizeSecondary2: 24px;

$animEase: cubic-bezier(0.19, 1, 0.22, 1);
// Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url(//db.onlinewebfonts.com/c/e89ef6c6a5b8dcef3a6a883d8cf7b7bf?family=Guardians);
$gfont: 'Source Sans Pro';
