@import '../globals/vairables';

.menu {
    position: fixed;
    right: 15%;
    top: 3.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    z-index: 3;
    &:focus {
        outline: none;
    }
}

#hamsvg {
    width: 50px;
    height: 50px;
}

.line {
    fill: none;
    stroke: $offWhite;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(calc(100% - #{$dashboardSplit}));
    width: 100vw;
    height: 100vh;
    background-color: $offBlack;
    z-index: 2;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

    &.navopen {
        transform: translateX(0);

        .content {
            .nav-items {
                .nav-item {
                    .n1,
                    .n2,
                    .n3,
                    .n4,
                    .n5 {
                        transform: translate(0px);
                    }
                }
            }
        }
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .nav-items {
            .nav-item {
                display: flex;
                list-style: none;
                margin: 2em 0;
                overflow: hidden;
                width: auto;
                height: 6em;
                a {
                    font-size: $fontSizeHeading1;
                    font-family: $gfont;
                    text-decoration: none;
                    font-weight: 800;
                    color: $offBlack;
                    -webkit-text-stroke: 2px $offWhite;
                    -webkit-text-fill-color: $offBlack;
                    // transition: all 0.2s ease-in;
                    &:hover {
                        color: $offWhite;
                        -webkit-text-stroke: 2px $offBlack;
                        -webkit-text-fill-color: $offWhite;
                    }
                }
                .n1 {
                    transition: all 1s $animEase 0.15s;
                    transform: translateY(+200px);
                }
                .n2 {
                    transition: all 1s $animEase 0.25s;
                    transform: translateY(+200px);
                }
                .n3 {
                    transition: all 1s $animEase 0.35s;
                    transform: translateY(+200px);
                }
                .n4 {
                    transition: all 1s $animEase 0.45s;
                    transform: translateY(+200px);
                }
                .n5 {
                    transition: all 1s $animEase 0.55s;
                    transform: translateY(+200px);
                }
            }
        }
    }
}
