<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NITS HACKS</title>

    <link rel="stylesheet" href="./css/hacks/hacks.css">
</head>
<body>
    <header>
        header
    </header>
    <main>
        <section class="section section-1">
            Hi-1
        </section>
        <section class="section section-2">
            There-2
        </section>
        <section class="section section-3">
            Hello-3
        </section>
        <section class="section section-4">
            I'm-4
        </section>
        <section class="section section-5">
            The adstronaut-5
        </section>
        <section class="section section-6">
            Vestigial-6
        </section>
    </main>
    <footer>
        Footer
    </footer>
</body>
<script src="./js/hacks/hacks.js"></script>
</html>