<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NITS HACKS</title>

    <link rel="stylesheet" href="./css/hacks/hacks.css">
</head>
<body>
<nav class="navigation">
    <div class="nav-menu">
        <ul>
            <li class="nav-items"><a href="#" class="nav-links"><span class="dot active" id="dot--0">Home</span></a>
            </li>
            <li class="nav-items"><a href="#about" class="nav-links"><span class="dot go-up"
                        id="dot--1">About</span></a></li>
            <li class="nav-items"><a href="#events" class="nav-links"><span class="dot go-up"
                        id="dot--2">Events</span></a></li>
            <li class="nav-items"><a href="#team" class="nav-links"><span class="dot go-up" id="dot--3">Team</span></a>
            </li>
            <li class="nav-items"><a href="#reach" class="nav-links"><span class="dot go-up" id="dot--4">How To
                        Reach</span></a></li>
            <li class="nav-items"><a href="#contact" class="nav-links"><span class="dot go-up"
                        id="dot--5">Contact</span></a></li>
        </ul>
    </div>
</nav>

    <header class="home" id="#home">
        <h1>NITS HACKS 4.0</h1>
    </header>
    <main>
        <section class="section about" id="about">
            ABOUT
        </section>
        <section class="section events" id="events">
            EVENTS
        </section>
        <section class="section section-4">
           
            <h1>TEAM</h1>
            <p>Meet the Team of NITS HACKS 3.0</p>
           
               <div class='cards style-1'>
                
                 <div class='col'>
                  <div class='card'>
                    <img class='card-image' 
                      src="https://images.unsplash.com/photo-1503764654157-72d979d9af2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71cdddf5cc615224cf2c26614d20154d&auto=format&fit=crop&w=1353&q=80"
                    />
                    <div class='card-title'>Shivaji</div>
                    <div class='card-description'>Bandopadhay</div>
                  </div>
                </div>
        </section>
        <section class="section section-5">
            How To Reach
        </section>
        <section class="section section-6">
            Contact
        <section class="section team" id="team">
            TEAM
        </section>
        <section class="section reach" id="reach">

            <div class="box">
                <div style="padding: 1rem;">
                    <h5 style="font-family:Arial, Helvetica, sans-serif;font-size:3rem">How to Reach</h5>
                </div>
                
                <div class="containerSpon">
                    <div class="card9">
                       <h2><span class="spanStyle">1</span>
                           AIR</h2>
                
                       <p>There are daily direct flights to Silchar from cities like Delhi, Bangalore, Kolkata, Guwahati and Imphal. Air India, Spice Jet and Jet Airways operate flights from Silchar to Delhi, Bangalore, Kolkata, Guwahati and Imphal. From airport, the Institute campus is approximately 35 Kms. Hired private taxi service is available from the airport. The Training and Placement Cell helps recruiters reach the campus from the Airport. </p>
                   
                    </div>
                    <div class="card9 card92">
                        <h2><span class="spanStyle">2</span>
                            RAIL</h2>
                        <p>Silchar has a direct rail link with Kolkata, Delhi, Guwahati. The campus is around 10 KMs from the Silchar railway station. The Training and Placement Cell helps recruiters reach the campus from the railway Station.
                        </p>
                    </div>
                    <div class="card9">
                        <h2><span class="spanStyle">3</span>
                            ROAD</h2>
                        <p>Silchar is well connected with various cities through road. A 326 km long National Highway directly connects Silchar with Guwahati. A large number of day/night bus ply between Guwahati and Silchar in the morning and evening everyday. After you arrive at ISBT-Silchar. The Training and Placement Cell helps recruiters reach the campus.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section contact" id="contact">
            <div style="padding: 1rem;">
                <h5 style="font-family:Arial, Helvetica, sans-serif;font-size:3rem">Contact</h5>
            </div>
            <!--
            <div>
               <i></i>
               <h3 style="color: #0c0c0c;">Address</h3>
               <p style="color: #000000;">NIT Road, Fakiratilla, Silchar, Assam 788010</p>
            </div>
            <div>
                <i></i>
                <h3 style="color: #0c0c0c;">Contact Number</h3>
                <p style="color: #000000;">NIT Road, Fakiratilla, Silchar, Assam 788010</p>
            </div>
            <div>
                <i></i>
                <h3 style="color: #0c0c0c;">Email Address</h3>
                <p style="color: #000000;">NIT Road, Fakiratilla, Silchar, Assam 788010</p>
            </div> -->
            <div>
                <iframe 
                  width='40%' 
                  height='350' 
                  src="https://maps.google.com/maps?q=NIT%20Silchar&t=&z=17&ie=UTF8&iwloc=&output=embed"
                  frameborder='0'
                  scrolling='no'>
               </iframe>
            </div>
        </section>
    </main>
    <footer class="footer">
        Footer
    </footer>
</body>
<script src="./js/hacks/hacks.js"></script>
</html>
