<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NITS HACKS</title>

    <link rel="stylesheet" href="./css/hacks/hacks.css">
</head>
<body>
<nav class="navigation">
    <div class="nav-menu">
        <ul>
            <li class="nav-items"><a href="#" class="nav-links"><span class="dot active" id="dot--0">Home</span></a>
            </li>
            <li class="nav-items"><a href="#about" class="nav-links"><span class="dot go-up"
                        id="dot--1">About</span></a></li>
            <li class="nav-items"><a href="#events" class="nav-links"><span class="dot go-up"
                        id="dot--2">Events</span></a></li>
            <li class="nav-items"><a href="#team" class="nav-links"><span class="dot go-up" id="dot--3">Team</span></a>
            </li>
            <li class="nav-items"><a href="#reach" class="nav-links"><span class="dot go-up" id="dot--4">How To
                        Reach</span></a></li>
            <li class="nav-items"><a href="#contact" class="nav-links"><span class="dot go-up"
                        id="dot--5">Contact</span></a></li>
        </ul>
    </div>
</nav>

    <header class="home" id="#home">
        <h1>NITS HACKS 4.0</h1>
    </header>
    <main>
        <section class="section about" id="about">
            ABOUT
        </section>
        <section class="section events" id="events">
            EVENTS
        </section>
        <section class="section team" id="team">
            TEAM
        </section>
        <section class="section reach" id="reach">
            REACH
        </section>
        <section class="section contact" id="contact">
            CONTACT
        </section>
    </main>
    <footer class="footer">
        Footer
    </footer>
</body>
<script src="./js/hacks/hacks.js"></script>
</html>