<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tecnoesis 2021</title>
        <!-- Third Party -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <!-- GSAP ANIMATION -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
            integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
            crossorigin="anonymous"
        ></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>
        <!-- MATTER JS -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.9.2/matter.min.js"
            integrity="sha512-YpdsRheM7yfiMPxsIiXNfSFGgLZly3BC0M5lIIrwtqY/fH8RPm1sRYeRgZR9PzdKznrhmvDtgJMr9TrR+MBepg=="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.15.0/matter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.15.0/matter.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <!-- SCROLL TRIGGER JS -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"
            integrity="sha512-Q+G390ZU2qKo+e4q+kVcJknwfGjKJOdyu5mVMcR95NqL6XaF4lY4nsSvIVB3NDP54ACsS9rqhE1DVqgpApl//Q=="
            crossorigin="anonymous"
        ></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
        <!-- Third Party -->
        <!-- JS -->
        <script
            type="text/javascript"
            src="../../public/js/landing/landing.js"
            defer
        ></script>
        <script
            type="text/javascript"
            src="../../public/js/landing/scroll.js"
            defer
        ></script>
        <script
            type="text/javascript"
            src="../../public/js/landing/form.js"
            defer
        ></script>

        <script
            type="text/javascript"
            src="../../public/js/landing/script1.js"
            defer
        ></script>
        <script
            type="text/javascript"
            src="../../public/js/globals/navbar.js"
            defer
        ></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init()
        </script>
        <script src="p"></script>
        <!-- JS -->
        <!-- Stylings -->
        <link rel="stylesheet" href="../../public/css/navbar/navbar.css" />
        <link rel="stylesheet" href="../../public/css/landing/landing.css" />
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
        <!-- Stylings -->
    </head>

    <body>
        <div class="count-container">
            <ul id="top-menu">
                <li class="li-item"><a href="#" class="active">Home</a></li>
                <li class="li-item"><a href="#section2">About Us</a></li>
                <li class="li-item"><a href="#section3">Modules</a></li>
                <li class="li-item"><a href="#section4">NITS::Hacks 4.0</a></li>
                <li class="li-item"><a href="#section5">Contact Us</a></li>
                
            </ul>
            <!-- <h1 class="count active" id="one">01</h1>
            <h1 class="count" id="two">02</h1>
            <h1 class="count" id="three">03</h1>
            <h1 class="count" id="four">04</h1>
            <h1 class="count" id="five">05</h1> -->
        </div>
        <div class="loader" id="loader"></div>
        <nav class="navbar">
            <div class="content">
                <ul class="nav-items">
                    <li class="nav-item"><a class="n1" href="">Home</a></li>
                    <li class="nav-item"><a class="n2" href="">Modules</a></li>
                    <li class="nav-item"><a class="n3" href="">Schedule</a></li>
                    <li class="nav-item"><a class="n3" href="">Schedule</a></li>
                    <li class="nav-item"><a class="n3" href="">Schedule</a></li>
                    
                </ul>
            </div>
        </nav>
        <button
            class="menu"
            id="navbtn"
            onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
            aria-label="Main Menu"
        >
            <svg id="hamsvg" viewBox="0 0 100 100">
                <path
                    class="line line1"
                    d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
                />
                <path class="line line2" d="M 20,50 H 80" />
                <path
                    class="line line3"
                    d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
                />
            </svg>
        </button>
        <main class="main">
            <section
                class="first panel white"
                id="physics_div"
                style="
                    background-image: url('../../public/images/landing/bg1.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                "
            >
                <div class="stage" data-el="stage"></div>
                <h1 id="head" data-el="head">
                    <span style="--i: 1" data-el="letter">T</span>
                    <span style="--i: 2" data-el="letter">E</span>
                    <span style="--i: 3" data-el="letter">C</span>
                    <span style="--i: 4" data-el="letter">N</span>
                    <span style="--i: 5" data-el="letter">O</span>
                    <span style="--i: 6" data-el="letter">E</span>
                    <span style="--i: 7" data-el="letter">S</span>
                    <span style="--i: 8" data-el="letter">I</span>
                    <span style="--i: 9" data-el="letter">S</span>
                </h1>
                <div class="bouncer" data-el="bouncer"></div>
                <div class="bubbles" data-el="bubbles"></div>

                <div class="gif">
                    <img
                        src="../../public/images/landing/globeTwo.gif"
                        alt="globe"
                    />
                </div>
            </section>
            <section
                class="panel not-first white"
                id="section2"
                style="
                    background-image: url('../../public/images/landing/17931370.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                "
            >
            <div style="z-index: 1;"><img class="logoviral" src="../../public/images/landing/v1-01.png" /></div>
                <h1 class="section_header" id="about-header" style="z-index: 3; white-space: nowrap;">
                    About Us
                </h1>
                <p class="section_desc" id="about-desc" style="z-index: 3">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Beatae, laborum!
                </p>
                <div class="images">
                    <div
                        class="image-wrapper"
                        id="first"
                        style="margin-top: 2vh; margin-left: -60vw; z-index: 1; height: 250px; width: auto;"
                    >
                        <img
                            class="virus"
                            src="../../public/images/landing/virus1.png"
                        />
                    </div>
                    <div
                        class="image-wrapper"
                        id="second"
                        style="margin-top: 35vh; margin-left: -45vw; z-index: 1;height: 500px; width: auto;"
                    >
                        <img
                            class="virus"
                            src="../../public/images/landing/virus1.png"
                        />
                    </div>
                    <div
                        class="image-wrapper"
                        id="third"
                        style="margin-top: 40vh; margin-left: -20vw; z-index: 1;height: 200px; width: auto;"
                    >
                        <img
                            class="virus"
                            src="../../public/images/landing/virus1.png"
                            style="height: 20vh"
                        />
                    </div>
                </div>
                <div class="gif">
                    <img
                        src="../../public/images/landing/logomask.gif"
                        alt="globe"
                    />
                </div>
            </section>
            <section
                class="panel not-first white"
                id="section3"
                style="
                    background-image: url('../../public/images/landing/bg2.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    align-items: center;
                "
            >
            <div style="z-index: 1;"><img class="logoviral" src="../../public/images/landing/v2-01.png" /></div>    
                <h1
                    class="section_header"
                    id="module-header"
                    style="z-index: 3"
                >
                    Modules
                </h1>
                <div class="modules" style="z-index: 3">
                    <p class="section_desc" id="modules-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sequi, blanditiis a ad quis dignissimos quod.
                        Necessitatibus odio voluptatibus quod ullam.
                    </p>
                </div>
                <a class="btnfos btnfos-1" id="module-btn" style="z-index: 3">
                    <svg>
                        <rect
                            x="0"
                            y="0"
                            fill="none"
                            width="100%"
                            height="100%"
                        />
                    </svg>
                    Learn More
                </a>
                <div class="images">
                    <div
                        class="image-wrapper"
                        id="first"
                        style="margin-top: 15vh; margin-left: -60vw; z-index: 1"
                    >
                        <img
                            class="vaccine"
                            src="../../public/images/landing/vaccine.png"
                            style="height: 50vh"
                        />
                    </div>
                    <div
                        class="image-wrapper"
                        id="second"
                        style="
                            margin-top: -25vh;
                            margin-left: -40vw;
                            z-index: 1;
                        "
                    >
                        <img
                            class="vaccine"
                            src="../../public/images/landing/vaccine.png"
                            style="height: 60vh"
                        />
                    </div>
                    <div
                        class="image-wrapper"
                        id="third"
                        style="margin-top: 40vh; margin-left: -20vw; z-index: 1"
                    >
                        <img
                            class="vaccine"
                            src="../../public/images/landing/vaccine.png"
                            style="height: 30vh"
                        />
                    </div>
                </div>
                <div class="gif">
                    <img
                        src="../../public/images/landing/Smart city.png"
                        alt="globe"
                    />
                </div>
            </section>
            <section
                class="panel not-first white"
                id="section4"
                style="
                    background-image: url(../../public/images/landing/bg5.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                "
            >
            <div style="z-index: 1;"><img class="logoviral2" src="../../public/images/landing/v3-01.png" /></div>
                <h1 class="section_header" id="hacks-header" style="white-space: nowrap;">NITS::Hacks 4.0</h1>
                <div class="description" id="hacks-description">
                    <p class="section_desc" id="hacks_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sequi, blanditiis a ad quis dignissimos quod.
                        Necessitatibus odio voluptatibus quod ullam.
                    </p>
                </div>
                <a class="btnfos btnfos-1" id="hacks-btn">
                    <svg>
                        <rect
                            x="0"
                            y="0"
                            fill="none"
                            width="100%"
                            height="100%"
                        />
                    </svg>
                    Learn More
                </a>
                <div class="gif">
                    <img
                        src="../../public/images/landing/globeFour.gif"
                        alt="globe"
                    />
                </div>
            </section>
            <section
                class="panel not-first white"
                id="section5"
                style="
                    background-image: url(../../public/images/landing/bg4.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                "
            >
            <div style="z-index: 1;"><img class="logoviral3" src="../../public/images/landing/v4-01.png"/></div>
                <h1 class="section_header" id="contact-header" style="white-space: nowrap;">Contact Us</h1>
                <p class="section_desc">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Beatae, laborum!
                </p>
                <form id="form" data-parsley-validate>
                    <div class="success">
                        <p>Good news <span class="name">Charlie</span>,</p>
                        <p>your message was successfully sent!</p>
                    </div>
                    <fieldset>
                        <input
                            class="floatlabel"
                            id="name"
                            type="text"
                            placeholder="Name"
                            required
                            data-parsley-no-focus
                            data-parsley-error-message="Please enter your name."
                        />
                    </fieldset>
                    <fieldset>
                        <input
                            class="floatlabel"
                            type="email"
                            placeholder="Email"
                            required
                            data-parsley-no-focus
                            data-parsley-error-message="Please enter a valid email address."
                        />
                    </fieldset>
                    <fieldset>
                        <textarea
                            class="floatlabel"
                            placeholder="Message"
                            required
                            data-parsley-no-focus
                            data-parsley-error-message="Please enter a message."
                        ></textarea>
                    </fieldset>
                    <fieldset>
                        <input type="submit" value="Submit" />
                    </fieldset>
                </form>
                <div class="gif">
                    <img
                        src="../../public/images/landing/globeOne.gif"
                        alt="globe"
                    />
                </div>
            </section>
        </main>
    </body>
</html>
