<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tecnoesis 2021</title>
        <!-- Third Party -->
        <!-- GSAP ANIMATION -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
            integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
            crossorigin="anonymous"
        ></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>
        <!-- MATTER JS -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.9.2/matter.min.js"
            integrity="sha512-YpdsRheM7yfiMPxsIiXNfSFGgLZly3BC0M5lIIrwtqY/fH8RPm1sRYeRgZR9PzdKznrhmvDtgJMr9TrR+MBepg=="
            crossorigin="anonymous"
        ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.15.0/matter.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.15.0/matter.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
        <!-- SCROLL TRIGGER JS -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"
            integrity="sha512-Q+G390ZU2qKo+e4q+kVcJknwfGjKJOdyu5mVMcR95NqL6XaF4lY4nsSvIVB3NDP54ACsS9rqhE1DVqgpApl//Q=="
            crossorigin="anonymous"
        ></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
        <!-- Third Party -->
        <!-- JS -->
        <script
            type="text/javascript"
            src="../../public/js/landing/landing.js"
            defer
        ></script>
        <!-- <script
            type="text/javascript"
            src="../../public/js/landing/script.js"
            defer
        ></script>  -->
        <script
            type="text/javascript"
            src="../../public/js/landing/script1.js"
            defer
        ></script>
        <script
            type="text/javascript"
            src="../../public/js/globals/navbar.js"
            defer
        ></script>
        <script src="p"></script>
        <!-- JS -->
        <!-- Stylings -->
        <link rel="stylesheet" href="../../public/css/navbar/navbar.css" />
        <link rel="stylesheet" href="../../public/css/landing/landing.css" />
        <!-- Stylings -->
    </head>

    <body>
        <div class="loader" id="loader"></div>
        <nav class="navbar">
            <div class="content">
                <ul class="nav-items">
                    <li class="nav-item"><a class="n1" href="">Home</a></li>
                    <li class="nav-item"><a class="n2" href="">Events</a></li>
                    <li class="nav-item"><a class="n3" href="">Team</a></li>
                </ul>
            </div>
        </nav>
        <button
            class="menu"
            id="navbtn"
            onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
            aria-label="Main Menu"
        >
            <svg id="hamsvg" viewBox="0 0 100 100">
                <path
                    class="line line1"
                    d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
                />
                <path class="line line2" d="M 20,50 H 80" />
                <path
                    class="line line3"
                    d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
                />
            </svg>
        </button>
        <main class="main">
            <section class="first panel white" id="physics_div">
                <div class="stage" data-el="stage"></div>
                <h1 id="head" data-el="head">
                    <span data-el="letter">T</span>
                    <span data-el="letter">E</span>
                    <span data-el="letter">C</span>
                    <span data-el="letter">N</span>
                    <span data-el="letter">O</span>
                    <span data-el="letter">E</span>
                    <span data-el="letter">S</span>
                    <span data-el="letter">I</span>
                    <span data-el="letter">S</span>
                </h1>
                <div class="bouncer" data-el="bouncer"></div>
                <div class="bubbles" data-el="bubbles"></div>

                <div class="gif">
                    <img
                        src="../../public/images/landing/globeOne.gif"
                        alt="globe"
                    />
                </div>
            </section>
            <section
                class="panel white"
                id="virusHolder"
                style="
                    background-image: url('../../public/images/landing/5026563.jpg');
                    background-size: contain;
                "
            >
                <h1 class="section_header">About Us</h1>
                <p class="section_desc" id="about-desc">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Beatae, laborum!
                </p>

                <div class="images">
                    <div class="image-wrapper" id="first">
                        <img
                            class="virus1"
                            src="../../public/images/landing/virus1.png"
                        />
                    </div>
                    <div class="image-wrapper" id="second">
                        <img
                            class="virus2"
                            src="../../public/images/landing/virus2.png"
                        />
                    </div>
                    <div class="image-wrapper" id="third">
                        <img
                            class="virus3"
                            src="../../public/images/landing/virus3.png"
                        />
                    </div>
                </div>
                <div class="gif">
                    <img
                        src="../../public/images/landing/globeTwo.gif"
                        alt="globe"
                    />
                </div>
            </section>
            <section
                class="panel white"
                style="
                    background-image: url('../../public/images/landing/img1.jpg');
                "
            >
                <h1 class="section_header" id="module-header">Modules</h1>
                <div class="modules">
                    <p class="section_desc" id="modules-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sequi, blanditiis a ad quis dignissimos quod.
                        Necessitatibus odio voluptatibus quod ullam.
                    </p>
                </div>
                <a class="btnfos btnfos-1 " id="module-btn">
                    <svg>
                        <rect
                            x="0"
                            y="0"
                            fill="none"
                            width="100%"
                            height="100%"
                        />
                    </svg>
                    Learn More
                </a>
                <div class="gif">
                    <img
                        src="../../public/images/landing/globeThree.gif"
                        alt="globe"
                    />
                </div>
            </section>
            <section class="panel white">
                <h1 class="section_header" id="hacks-header">NITS Hacks</h1>
                <div class="description" id="hacks-description">
                    <p class="section_desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sequi, blanditiis a ad quis dignissimos quod.
                        Necessitatibus odio voluptatibus quod ullam.
                    </p>
                </div>
                <a class="btnfos btnfos-1" id="hacks-btn">
                    <svg>
                        <rect
                            x="0"
                            y="0"
                            fill="none"
                            width="100%"
                            height="100%"
                        />
                    </svg>
                    Learn More
                </a>

                <div class="gif">
                    <img
                        src="../../public/images/landing/globeFour.gif"
                        alt="globe"
                    />
                </div>
            </section>
            <section class="panel white">
                <h1 class="section_header" id="contact-header">Contact Us</h1>
                <p class="section_desc">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Beatae, laborum!
                </p>
                <div class="gif">
                    <img
                        src="../../public/images/landing/globeOne.gif"
                        alt="globe"
                    />
                </div>
            </section>
        </main>
    </body>
</html>
