* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, 
section {
    min-height: 100vh;
    max-width: 100vw;
}

.section {
    &-1 {
        background: pink;
    }
    &-2 {
        background: green;
    }
    &-3 {
        background: pink;
    }
    &-4 {
        background: blue;
    }
    &-5 {
        background: pink;
    }
    &-6 {
        background: magenta;
    }
}

footer {
    background: mediumblue;
}