@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navigation {
  position: fixed;
  right: 0.5vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
  height: 50vh;
  width: 8vw;
}

.navigation ul {
  list-style: none;
  font-family: 'Noto Sans JP', sans-serif;
}

.nav-menu {
  text-align: center;
}

.nav-menu .nav-items {
  margin: 2rem 0;
}

.nav-menu .nav-items .nav-links {
  text-decoration: none;
  color: #fff;
  text-align: center;
  background: #000;
  width: auto;
  height: auto;
}

.nav-menu .nav-items .nav-links .dot {
  display: block;
  width: 15px;
  height: 25px;
  margin: 0 auto;
  background: green;
  font-size: 0;
}

.nav-menu .nav-items .nav-links .go-down {
  -webkit-clip-path: polygon(50% 25%, 100% 0, 50% 100%, 0 0);
          clip-path: polygon(50% 25%, 100% 0, 50% 100%, 0 0);
}

.nav-menu .nav-items .nav-links .go-up {
  -webkit-clip-path: polygon(50% 0, 100% 100%, 50% 75%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 50% 75%, 0 100%);
}

.nav-menu .nav-items .nav-links .active {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  background: transparent;
  font-size: 1rem;
  color: green;
  border-radius: 50%;
  line-height: 55px;
}

.home,
.section {
  min-height: 100vh;
  max-width: 100vw;
  background: orangered;
  border-bottom: 2px dotted #000;
  font-size: 5vw;
  text-align: center;
}

.home {
  background: #000;
  color: #fff;
}

.home h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: 700;
}

.about {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  background: #eee;
}

.about .about-c {
  max-width: 85vw;
  width: 85vw;
  height: 100vh;
  margin: 0 auto;
  padding: 10vh 0;
  position: relative;
}

.about .about-c .img-c {
  display: inline-block;
  width: 50vw;
  height: 80vh;
  background: #464755;
  position: absolute;
  top: 10vh;
  left: 0;
}

.about .about-c .img-c img {
  width: 100%;
  height: 100%;
}

.about .about-c .heading-c {
  width: 45vw;
  height: 40vh;
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.about .about-c .heading-c p:first-child {
  font-size: 4vw;
  letter-spacing: 2px;
  margin-top: 25vh;
  color: #133ea1;
}

.about .about-c .heading-c p:last-child {
  font-size: 1rem;
  letter-spacing: 2px;
  color: #133ea1;
}

.about .about-c .text-c {
  display: inline-block;
  width: 50vw;
  height: 15rem;
  background: #133ea1;
  position: absolute;
  bottom: 15vh;
  right: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.about .about-c .text-c p {
  width: 90%;
  margin: 0 auto;
  padding-top: 2.5rem;
  margin-bottom: -5vh;
  font-size: 0.9rem;
  color: white;
  text-align: center;
  line-height: 1.3rem;
  letter-spacing: 1px;
}

.about .about-c .text-c a {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 3px;
}

.about .about-c .text-c a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #133ea1;
  border: 2px solid #133ea1;
}

.about .about-c .text-c a:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  color: #133ea1;
  border: 2px solid #133ea1;
}

.footer {
  min-height: 30vh;
  background: mediumblue;
}

.reach {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  color: #031b69;
}

.reach:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50vw;
  height: 100vh;
  width: 50vw;
  background: #c6e4fd;
  border-radius: 50%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translate(-50%, -50%) scale(3);
          transform: translate(-50%, -50%) scale(3);
  opacity: 0.3;
}

.reach:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50vw;
  height: 100vh;
  width: 50vw;
  background: #96c0e2;
  border-radius: 50%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translate(-50%, 50%) scale(3);
          transform: translate(-50%, 50%) scale(3);
  opacity: 0.2;
}

.reach .box {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10vw;
}

.reach .box .containerSpon {
  width: 80vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
  padding: 1rem;
}

.reach .box .containerSpon .card9 {
  position: relative;
  height: 68vh;
  width: 25vw;
  margin-right: 3vw;
  font-size: small;
  top: -3vh;
  padding-top: 1rem;
  border-radius: 20px;
  background-color: transparent;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  -webkit-transition: 0s linear;
  transition: 0s linear;
  z-index: 3;
}

.reach .box .containerSpon .card9:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 1rem;
  border-radius: 20px;
  background-color: #90c1e2;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  z-index: -2;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.reach .box .containerSpon .card9:hover:after {
  opacity: 0.08;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.reach .box .containerSpon .card9 h2 {
  font-size: 3rem;
  padding: 0.25rem;
  position: relative;
  top: 5vh;
  border-radius: 1rem;
  color: #3d1002;
}

.reach .box .containerSpon .card9 p {
  font-size: 1.5rem;
  color: #1b0564;
  margin-top: 8vh;
  text-align: left;
  line-height: 2rem;
  padding: 1rem;
}

.spanStyle {
  background-color: #535353;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contact .contactCard {
  width: 25vw;
  height: 25vh;
  margin-right: 3vw;
  color: white;
  background-color: #13234e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 2px black solid;
  font-family: Arial, Helvetica, sans-serif;
}

.contact .contactCard:before {
  content: "";
  position: absolute;
  width: 21vw;
  height: 64vh;
  background-color: black;
  top: -1rem;
  left: -0.60rem;
  opacity: 0.4;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 20px;
  border: 2px grey  solid;
  z-index: -1;
  pointer-events: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.contact .contactCard:before {
  opacity: 0.2;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.contact .contactCard:after {
  content: "";
  position: absolute;
  width: 21vw;
  height: 64vh;
  background-color: black;
  top: -1rem;
  left: -0.60rem;
  opacity: 0.4;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 20px;
  border: 2px grey  solid;
  z-index: -1;
  pointer-events: none;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.contactCard:hover .contactCard:after {
  opacity: 0.2;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.contact .contactCard:before, .contact .contactCard:after {
  opacity: 0.2;
}

.contact .contactCard h3 {
  position: absolute;
  text-align: center;
  top: 2vh;
}

.contact .contactCard p {
  position: absolute;
  top: 10vh;
  text-align: center;
  margin-top: 1rem;
}

.contact .contactCard h3 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-weight: bolder;
  font-size: 2rem;
}

.contact .contactCard:hover h3 {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.contact .contactCard .content {
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
}

.contact .contactCard:hover .content {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.contact .contactCard .content {
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  font-size: 1.3rem;
  color: white;
}

.contact .contactCard:hover .content {
  opacity: 1;
  z-index: 10;
}

@media (max-width: 700px) {
  .home,
  .section {
    min-height: 60vh;
  }
  .about {
    max-width: 100vw;
    width: 100vw;
    height: 90vh;
    background: #eee;
  }
  .about .about-c {
    max-width: 95vw;
    width: 95vw;
    height: 60vh;
    margin: 0 auto;
    padding: 5vh 0;
    position: relative;
  }
  .about .about-c .img-c {
    display: none;
    width: 0;
    height: 0;
  }
  .about .about-c .heading-c {
    width: 95vw;
    height: 20vh;
    position: relative;
    margin-top: 0 auto;
    padding: 5vh 0;
  }
  .about .about-c .heading-c p:first-child {
    margin: 0 auto;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .about .about-c .heading-c p:last-child {
    margin: 0 auto;
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .about .about-c .text-c {
    display: block;
    width: 90vw;
    height: 55vh;
    position: relative;
    margin: 0 auto;
    margin-top: 18vh;
  }
  .about .about-c .text-c p {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    line-height: 1.3rem;
    letter-spacing: 1px;
  }
  .about .about-c .text-c a {
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: .9rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 2px solid rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 3px;
  }
  .about .about-c .text-c a:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #133ea1;
    border: 2px solid #133ea1;
  }
  .about .about-c .text-c a:active {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #133ea1;
    border: 2px solid #133ea1;
  }
  .navigation {
    display: none;
  }
}
/*# sourceMappingURL=hacks.css.map */