@import 'colors';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
// event heading
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
// buttons
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;500;600&display=swap');
// event details
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
// menu
   @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


   @font-face {
     src: url('./../../fonts/ROBOTECH.ttf');
     font-family: robotech;
   }

   @keyframes rotationZ {
  0% {transform: translate(-50%, -50%) rotateY(0deg);}
  // 20% {transform: translate(-50%, -50%) rotateY(72deg);}
  // 40% {transform: translate(-50%, -50%) rotateY(144deg);}
  // 60% {transform: translate(-50%, -50%) rotateY(216deg);}
  // 80% {transform: translate(-50%, -50%) rotateY(288deg);}
  100% {transform: translate(-50%, -50%) rotateY(360deg);}
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
}

.navigation {
    position: fixed;
    right: 0.5vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;

    height: 50vh;
    width: 8vw;

    ul {
        list-style: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;

    }
}

.nav-menu {
    text-align: center;

    .nav-items {
        margin: 2rem 0;

        .nav-links {
            text-decoration: none;
            color: $white;
            text-align: center;
            width: auto;
            height: auto;

            .dot {
                display: block;
                width: 15px;
                height: 25px;
                margin: 0 auto;
                background: $secondary-blue;
                font-size: 0;
            }

            .dot-white {
              display: block;
                width: 15px;
                height: 25px;
                margin: 0 auto;
                background: $white;
                font-size: 0;
            }

            .go-down {
                clip-path: polygon(50% 25%, 100% 0, 50% 100%, 0 0);
            }

            .go-up {
                clip-path: polygon(50% 0, 100% 100%, 50% 75%, 0 100%);
            }

            .active {
                display: block;
                width: auto;
                height: auto;
                margin: 0 auto;
                background: transparent;
                font-size: 1rem;
                color: $primary-blue;
                border-radius: 50%;
                line-height: 55px;
            }
            .active-white {
              display: block;
                width: auto;
                height: auto;
                margin: 0 auto;
                background: transparent;
                font-size: 1rem;
                color: $white;
                border-radius: 50%;
                line-height: 55px;
            }
        }
    }
}


.home,
.section {
  min-height: 100vh;
    max-width: 100vw;
    font-size: 5vw;

    text-align: center;
}


.home {
    color: $white;
    min-height: 100vh;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba($black, .1), rgba($black, 1)),
                      url('./../../images/hacks/dash-board.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
                     
    .img-c {
      height: 65vh;
      width: 30vw;

      position: absolute;
      top: 45%;
      left: 50%;

      transition: all 1s;
      animation: rotationZ 3s linear infinite;
      img {
        height: 100%;
        width: 100%;
      }
    }
    h1 {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      font-family: robotech;
        width: 100vw;
        font-size: 9vw;
        letter-spacing: 10px;
        font-weight: 700;
      // animation: rotationZ 3s infinite;
    }
}


.about {
    max-width: 100vw;
    width: 100vw;
    height: 123vh;
    background: rgba($white, 0.8);
    border-bottom: none;

    .heading-c {
      width: 80%;
      margin: 0 auto;
      height: 10rem;
      position: relative;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;

            p:first-child {
                font-size: 4vw;
                letter-spacing: 2px;
                padding-top: 5rem;
                color: $secondary-blue;
            }
            p:last-child {
                font-size: 1rem;
                margin-top: -1.7rem;
                letter-spacing: 2px;
                color: $primary-blue;
            }
        }

    .about-c {
        max-width: 85vw;
        width: 85vw;
        height: 100vh;
        margin: 0 auto;
        padding: 10vh 0;

        position: relative;

        .img-c {
            display: inline-block;
            width: 45vw;
            height: 80vh;
            background: rgba($black, 1);

            position: absolute;
            top: 10vh;
            left: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }


        .text-c {
            display: inline-block;
            width: 50vw;
            height: 15rem;
            background: $primary-blue;

            position: absolute;
            bottom: 15vh;
            right: 0;

            font-family: 'Noto Sans JP', sans-serif;

            p {
                width: 90%;
                margin: 0 auto;
                padding-top: 2.5rem;
                margin-bottom: -5vh;
                font-size: 0.9rem;
                color: $white;
                text-align: center;
                line-height: 1.3rem;
                letter-spacing: 1px;
            }

            a {
                display: inline-block;
                text-decoration: none;
                color: rgba($white, 0.8);
                font-size: 1rem;
                padding: 0.5rem 1rem;
                border: 2px solid rgba($white, 0.8);
                transition: all 0.4s;
                border-radius: 3px;

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 10px 10px rgba($black, 0.2);
                    background: $white;
                    color: $primary-blue;
                    border: 2px solid $primary-blue;
                }

                &:active {
                    transform: translateY(-1px);
                    box-shadow: 0 5px 5px rgba($black, 0.2);
                    background: $white;
                    color: $primary-blue;
                    border: 2px solid $primary-blue;
                }
            }
        }
    }
}

// event section > heading and button designs
.events {
  position: relative;
  padding: 10vh 0;
  padding-bottom: 5vh;
  background: rgba($black, 0.1);

  .heading-c {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 1rem;

    p:first-child {
      font-size: 3rem;
      font-weight: 700;
      color: $secondary-blue;
      font-family: 'Raleway', sans-serif;
    }
    p:last-child {
      font-size: 1rem;
      color: $primary-blue;
      margin-top: .8rem;
      font-weight: 500;
    }

  }
  
  .btn-c {
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: -2rem;
    
    button {
      margin: 0 1rem;
      padding: 0.6rem 4rem;
      border: none;
      outline: none;
      background: $secondary-blue;
      border-radius: 10rem;
      color: $white;
      font-size: 1rem;
      letter-spacing: 2px;
      cursor: pointer;
      font-weight: 600;
    }
    .active {
      background: $primary-blue;
    }
  }
}

// event section> day-schedule
.event-schedule {
  position: relative;
  font-size: 1rem;

  width: 70vw;
  margin: 2rem auto;
  font-family: 'Noto Sans JP', sans-serif;

  .day-one-schedule,
  .day-two-schedule {
    position: relative;
    top: 2vw;
    left: 0;
    width: 70vw;
    display: block;
  }
  .day-one-schedule {
    height: auto;
  }

  .day-two-schedule {
    height: auto;
    display: none;
  }
}

// event section> schedule
.schedule {
  position: relative;
  width: 60vw;
  margin: 0 auto;
  height: 6.5rem;
  padding: 0.5rem 1rem;
  text-align: left;
  border-bottom: 1px solid rgba($primary-blue, .2);

  display: flex;

  &:hover {
    background: $white;
  }

  .date-c {
    flex: 1;

    p {
      font-family: 'Noto Sans JP', sans-serif;
      color: $black;
      text-align: center;
      margin: 0.5rem 0;
    }
  }

  .detail-c {
    flex: 6;

    h4 {
      font-weight: 600;
      font-size: 1.3rem;
      margin: 0.5rem 0;
      color: $secondary-blue;
      font-family: 'Raleway', sans-serif;

      span {
        font-weight: 400;
        font-size: 1.2rem;
        margin: 0 1rem;
        font-style: italic;
        color: $primary-blue;
        font-family: inherit;
      }
    }

    p {
      color: $primary-blue;
      font-size: 1rem;
      margin: 0.2rem 0;
      font-style: italic;
    }
  }
  .btn-c {
    flex: 2;
    margin-top: 0;

    button {
        
      font-family: 'Noto Sans JP', sans-serif;
      margin: 1rem 0;
      background: $secondary-blue;
      display: inline-block;
      padding: 0.5rem 1.5rem;
      color: $white;
      text-decoration: none;
      border-radius: 10rem;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: .9rem;
      transition: all 0.4s;

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 10px rgba($black, 0.2);
      }
      &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 5px rgba($black, 0.2);
      }
    }
  }

  .event-popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;

    .popup-detail {
      position: fixed;
      width: 80vw;
      height: 90vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1001;
      background: $white;

      .close {
        font-size: 1.8rem;
        position: absolute;
        right: 2.5vw;
        top: 1.7vw;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            color: $secondary-blue;
        }
      }

      .heading {
        width: 30rem;
        margin: 0 auto;
        border-bottom: 1px solid $secondary-blue;
        h4 {
          color: $black;
          font-size: 2rem;
          text-align: center;
          padding: 1rem 0;
          letter-spacing: 1px;
        }
      }

      .info {
        width: 70vw;
        margin: 1rem auto;
        padding-bottom: 1rem;
        text-align: center;
        border-bottom: 1px solid $black;

        p:first-child {
          font-size: 1.3rem;
          color: $secondary-blue;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
        }
        p:last-child {
          width: 60vw;
          margin: 0.5rem auto;
          color: $primary-blue;
          font-family: 'Noto Sans JP', sans-serif;
        }
      }

      .faq {
        border-bottom: 1px solid $secondary-blue;
        padding-bottom: 1rem;
        width: 60vw;
        margin: 0 auto;
        text-align: center;

        .head {
          font-size: 1.3rem;
          color: $secondary-blue;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
          padding-bottom: 0.5rem;
        }

        .que-ans {
          text-align: center;

          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr;

          grid-row-gap: 1rem;

          .q-a {
            list-style: square;
            font-weight: 600;

            span {
              display: block;
              font-weight: 400;
            }
          }
        }
      }

      .prizes {
        text-align: center;
        padding: 1rem 0;
        width: 60vw;
        margin: 0 auto;

        display: flex;
        justify-content: space-around;

        &-c {
          user-select: none;

          p:first-child {
            font-size: 1.3rem;
            color: $secondary-blue;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
          }

          p:last-child {
            padding: 0.5rem 0;
          }
        }

        .link-c {
          margin: 1.3rem 0;

          a {
            background: $secondary-blue;
            padding: 0.5rem 1.5rem;
            color: $white;
            display: inline-block;
            text-decoration: none;
            border-radius: 10rem;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 1rem;
            transition: all 0.4s;

            &:hover {
              transform: translateY(-2px);
              box-shadow: 0 10px 10px rgba($black, 0.2);
            }
            &:active {
              transform: translateY(-1px);
              box-shadow: 0 5px 5px rgba($black, 0.2);
            }
          }
        }
      }

      .dark-blue {
        color: $secondary-blue;
      }
    }

    .popup-overlay {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;

      width: 100vw;
      height: 100vh;
      color: $white;
      background: rgba($black, 0.5);
    }
  }
}
// event ends


//event
.event{
  width:100vw;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  // flex-wrap: wrap;
  overflow-x: hidden;
  text-align: center;
  position: relative;
  background-color: rgba($primary-blue, 0.1);

  .heading {

    p {
    text-align: center;
      font-size: 3rem;
      font-weight: 700;
      padding: 2.5rem 0;
      color: $secondary-blue;
      font-family: 'Raleway', sans-serif;
  }
}

  .event-row-1,
  .event-row-2 {
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }


  &-1,&-2,&-3,&-4{
      height:350px;
      width:300px;
      position: relative;
      padding-bottom:3rem;
      background-color: #ffffff;

      .card3{
          height:270px;
          width:300px; 
          position: relative;
          
          img{
              height:80%;
              width:80%;
              transform:translateY(-10%);
              transition:0.5s;
              margin-left:0%;
          }
          .details_card{
              margin-left: 0vw;
              transition:0.5s;
              text-align: center;
              
              height:60%;
              width:80%;
              display: flex;
              justify-content: space-around;
              align-items: center;
              margin-left:26px;
              flex-direction: column;
              padding-bottom: 1rem;

              .show{
                margin-top: 10%;
                transition-duration:0.5s;
                transition-delay:0.01s;
              }

              .hide{
                 color:#133ea1;
                 opacity:0;
                 transition-duration:0.5s;
                 transition-delay:0.01s;
              }
          }
      }
     &:hover .card3 img{
         transform:translateY(-30%);
     }
     &:hover .card3 .details_card{
      transform:translateY(-30%);

      .show{
        margin-top:0%;
      }

      .hide{
          opacity: 1;
      }
     }
     .event-popup_c {
      display: none;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 999;
  
      .popup-detail_c {
        position: fixed;
        width: 60vw;
        height: 90vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        background: #fff;
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-direction:column;
        padding-left:2rem;
        padding-right:2rem;
        overflow-y: auto;
        overflow-x: hidden;
  
        .close_c {
          font-size: 1.8rem;
          position: absolute;
          right: 2.5vw;
          top: 1.7vw;
          font-weight: 600;
          cursor: pointer;
          background-color: transparent;
          color:$black;
          height:40px;
          width:40px;
          border: none;
          transition:0.5s;

  
          &:hover {
              background-color:transparent;
              color:black;
              border:2px solid blac
          }
        }
  
        .heading {
          width: 30rem;
          margin: 0 auto;
          border-bottom: 1px solid #8992b6;
          h4 {
            color: #080124;
            font-size: 2rem;
            text-align: center;
            padding: 1rem 0;
            letter-spacing: 1px;
          }
        }
  
        .info {
          width:50vw;
          padding-bottom: 1rem;
          text-align: center;
          border-bottom: 1px solid #000;
          font-size: medium;
  
          p:first-child {
            font-size: 1.3rem;
            color: #0e1b4d;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
          }
          p:last-child {
            padding-top: 1rem;
            width:50vw;
            margin:auto;
            color: #152b79;
            font-family: 'Open Sans', sans-serif;
          }
        }
  
        .faq {
          border-bottom: 1px solid #0e1b4d;
          padding-bottom: 1rem;
          width: 50vw;
          text-align: center;
          margin-top:0%;
  
          .head {
            font-size: 1.3rem;
            color: #0e1b4d;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            padding-bottom: 0.5rem;
          }
  
          .que-ans {
            text-align: center;
  
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
  
            grid-row-gap: 1rem;
            padding:1rem;
  
            .q-a {
              list-style: square;
              font-weight: 600;
  
              span {
                display: block;
                font-weight: 400;
              }
            }
          }
        }
  
        .prizes {
          text-align: center;
          padding: 1rem 0;
          width: 60vw;
          margin: 0 auto;
  
          display: flex;
          justify-content: space-around;
  
          &-c {
            user-select: none;
  
            p:first-child {
              font-size: 1.3rem;
              color: #0e1b4d;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 1px;
            }
  
            p:last-child {
              padding: 0.5rem 0;
            }
          }
  
          .link-c {
            margin: 1.3rem 0;
  
            a {
              background: #0e1b4d;
              padding: 0.5rem 1.5rem;
              color: white;
              display: inline-block;
              text-decoration: none;
              border-radius: 10rem;
              letter-spacing: 1px;
              font-weight: 500;
              font-size: 1rem;
              transition: all 0.4s;
  
              &:hover {
                transform: translateY(-2px);
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
              }
              &:active {
                transform: translateY(-1px);
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
              }
            }
          }
        }
  
        .dark-blue {
          color: #170368;
        }
      }
  
      .popup-overlay_c {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
  
        width: 100vw;
        height: 100vh;
        color: white;
        background: rgba(0, 0, 0, 0.5);
      }
  }
  // event ends
  }
}

.event-more-details_c{
  padding: 0.3rem 1rem;
  text-align: center;
  background-color: #004a86;
  color: rgb(255, 255, 255);
  border: whitesmoke;
  border: 10px;
  border-radius:1rem;
  outline: none;
  border: 2px solid #b9babb;
  font-size: large;
  width: 130px;
  white-space: nowrap;
  position:absolute;
  transform:translateX(-50%);
  bottom:2%;
}
.event-more-details_c:hover{

  transform: scale(1.01);
  transform:translateX(-50%);
  background-color: #1c65c5;
}

//teams
.team{
  width:100vw;
  height:auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
  font-family: 'Noto Sans JP', sans-serif;
  background: $white;

  .team_heading{
      position:relative;
      display: block;
      top:0;
      padding-top:13vh;
      padding-bottom:5vh;

      div{
          width:50%;
          height:5px;
          margin-left:50%;
          transform: translateX(-50%);
          color: $white;
          background-color:$secondary-blue;
      }
  }
  .team_gallery{
    
      width:80vw;
      height:700vh;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      &-1,&-2,&-3{
         
          width:100vw;
          display:flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
      }

      &-1{
          height:10vh;
          padding-top: 10vh;
          margin-top:-80vh;
      }

      &-2{
          height:160vh;
          background-color: rgba($white, 0.8);
          padding-bottom:2rem;
          margin-top: -30vh;

          h2 {
            padding-top: 5rem;
          }

          h2 {
            transform: translateY(5rem);
          }
      }

      &-3{
          height:60vh;
          margin-top:-60vh;
      }
      &-4{
          height:60vh;
          margin-top:-60vh;
      }
      &-5{
          height:60vh;
          margin-top:-60vh;
      }

      &-1-1,&-2-2,&-3-3{
         position: relative;
          width:80vw;
          height:auto;
          display:flex;
          flex-direction:row;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;

        .card{
             width:350px;
             height:350px; 
             position: relative;
             overflow: hidden;
             
             img{
                 height:100%;
                 width:100%;
             }
             div{
              transition:0.3s;
              position: absolute;
              top:260px;
              height:100%;
              width:100%;
              background: rgba($secondary-blue, .45);

              p:first-child{
             
                  height:fit-content;
                  padding:0.5rem;
                  width:100%;
                  color:$white;
                  transition:0.3s;

                  span:first-child,span:last-child{
                      padding:0.5rem;
                      z-index: 1000;
                      opacity:1;
                  } 
                  span:first-child{
                      color:$primary-blue;
                      letter-spacing:1px;
                  }
                  span:first-child:hover{
                      color:$primary-blue;
                      cursor: pointer;
                  }
                }
                 p:last-child{
                    
                     height:2vh;
                     width:60%;
                     transform: scaleY(0);
                     transition:0.5s;
                     transform-origin: top;
                     display: flex;
                     justify-content:space-around;
                     align-items: center;
                     margin-left:20%;
                     margin-top:3%;
                     padding-bottom: 1rem;

                     //social links
                     a{
                       text-decoration: none;
                       background-color: $white;
                       font-size:medium;
                       padding:0.3rem 0.5rem;
                       border-radius:20%;
                       transition:1s;
                       opacity:0;
                       transition-duration:0.2s;
                       transition-delay:0.3s;
                     }
                     a:hover{
                      color: $white;
                      
                      &.fb{
                        background-color:$primary-blue;
                      }
                      &.ln{
                        background-color:$primary-blue;
                      }
                      &.git{
                        background-color:$black;
                      }
                    }
                }
             }
             &:hover div p:last-child{
                transform: scaleY(1);
            }
            &:hover div p:last-child a{
              opacity: 1;
          }
            &:hover div{
              transform: translateY(-2vh);
            }
        }

        //***********************
        //card1
        .card1{
          width:350px;
          height:350px; 
          position: relative;
          margin-left:2vw;

          .card1_img{
              
              height:296px;
              width:100%;
              overflow: hidden;
              position:absolute;
              transform: translateY(-100%);
              top:0%;
              background-color: $secondary-blue;
              
              img{
                  height:120%;
                  width:100%;
                  transition: 1s;
              }
          }
          &:hover .card1_img img{
              transform: scale(1.2);
          }
          
          div{
           position: absolute;
           margin-top:100%;
           width:100%;
           background:$white;
           padding-bottom:1.5rem;
           color:$black;

           p:first-child{
          
               height:fit-content;
               width:100%;
               padding:1rem;

               span:first-child{
                padding:1rem;
                margin-bottom:2rem;
              }
             }
              p:last-child{
                height:2vh;
                width:50%;
                display: flex;
                justify-content:space-around;
                align-items: center;
                margin-left:25%;
                margin-top:3%;

                  //social links
                     a{
                       text-decoration: none;
                       font-size:large;
                       padding:0.3rem 0.5rem;
                       border-radius:20%;
                       transition:1s;
                       color: $white;
                      
                      &.fb{
                        background-color:$primary-blue;
                      }
                      &.ln{
                        background-color:$primary-blue;
                      }
                      &.git{
                        background-color:$black;
                      }
                     }
                     a:hover{
                        background-color:$white;
                        &.fb{
                          color:$primary-blue;
                        }
                        &.ln{
                          color:$primary-blue;
                        }
                        &.git{
                          color:$black;
                        }
                    }
              }
          }
        }
      }
  }
}

//gallery
/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery-slider{
  height:500px;
  margin-top:-60vh;
}

.swiper-pagination {
  position: relative;
  margin-top:-10vh;
}


.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $white;
  opacity: 1;
  border: 1px solid $primary-blue;
}

 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: $primary-blue;
}
  
.gallery-lightbox_card{

   position:absolute;
   transition:0.5s;

   *{
     text-decoration: none;
     text-align: center;
     color:$white;
   }

    .para{

      .first_para{
    
        height:10vh;
        padding:0.5rem;
        width:100%;
        color:$white;
        transition:0.3s;
        background-color: $black;

        span:first-child,span:last-child{
            padding:0.5rem;
            z-index: 1000;
            opacity:1;
        } 
        span:first-child{
            color:$primary-blue;
            letter-spacing:1px;
        }
        span:first-child:hover{
            color:$primary-blue;
            cursor: pointer;
        }
      }
      .second_para{
       
        padding-bottom:1rem;
        width:100%;
        height:5vh;
        display: flex;
        justify-content:space-around;
        align-items: center;
        background-color: $black;
        margin-top:-1.1rem;
        opacity:0;
        transform: scaleY(0);
        transition:0.5s;
        transform-origin: top;

        //social links
        a.links{
          text-decoration: none;
          background-color: $white;
          color:$black;
          font-size:medium;
          padding:0.3rem 0.5rem;
          border-radius:20%;
        }

        a.fb{
          color:$primary-blue;
        }
        a.ln{
          color:$primary-blue;
        }
        a.git{
          color:$black;
        }

        a.links:hover{
         color: $white;
         
         &.fb{
           background-color:$primary-blue;
         }
         &.ln{
           background-color:$primary-blue;
         }
         &.git{
           background-color:$black;
         }
       }
      }
    }
    &:hover{
      transform: translateY(-5vh);
    }
    &:hover .para .second_para{
      transform: scaleY(1);
      opacity:1;
    }
 }

//contact us
.contact{

  padding: 10vh 0;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
  font-family: 'Noto Sans JP', sans-serif;
  background: $white;

  .contact_heading{
      div{
          width:50%;
          height:5px;
          margin-left:50%;
          transform: translateX(-50%);
          color:$white;
          background-color:$secondary-blue;
      }
  }

  .contact_body{

      width:90vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height:35vh;

      div{
          width: 25vw;
          height:60%;
          text-align: center;
  
          svg{
              color:$secondary-blue;
              width:2.5rem;
              height:2.5rem;
              position:relative;
              top:-15%;
              left:0%;
              transform: translateX(0%);
          }
          div{
              margin-top:5%;
              p{
                  color:$secondary-blue;
              }
              p:hover{
                 color:$primary-blue;
                 cursor: pointer;
              }
          }
      }

      .middle{
          border-left:1px solid rgba($black, 0.2);
          border-right: 1px solid rgba($black, 0.2);
      }

      .right,.middle{
        div{
          p{
            margin-bottom:2vh;
          }
        }
      }
  }

  .contact_form{

      width:80vw;

      form{
          width:100%;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          height:45vh;

          input,textarea{
              width: 100%;
              padding:0.5rem 1rem;
              border:1px solid rgba($black, 0.2) ;

              &:focus{
                  outline: none;
              }
          }
          .same_row{
              display: flex;
              flex-direction:row;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              width: 100%;

              input{
                  width:49%;
                  border:1px solid rgba($black, 0.2) ;
                  font-weight: 200;
                  padding:0.5rem 1rem;

                  &:focus{
                      outline: none;
                  }
              }
          }
          textarea{
              height:15vh;
              font-weight: 100;
              padding:0.5rem 1rem;
          }
          button{
              padding: 0.3rem 1rem;
              text-align: center;
              background-color: $primary-blue;
              color: $white;
              border: rgba($black, 0.1);
              border: 10px;
              border-radius:2rem;
              outline: none;
              border: 2px solid rgba($black, 0.1);
              font-size: large;
              width: 130px;
              transition: all .3s;
          }
          button:hover{
              transform: scale(1.01) translateY(-1px);
              background-color: $secondary-blue;
          }
      }
  }
 }

.footer {
    min-height: 35vh;
    background-color: $secondary-blue;


    .footer-c {
      max-width: 80vw;
      width: 80vw;
      margin: 0 auto;
      padding: 3vw 0;
      text-align: center;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .lhand {
        width: 40vw;
      }
    
      .the-event {
        flex: 1;
        color: $white;
        text-align: center;

        p:first-child {
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
      .useful-links {
        color: $white;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        li {
          font-family: 'Raleway', sans-serif;
          list-style: none;
          margin: 10px 10px;

          
          
          
          a {
            text-decoration: none;
            color: $white;
            display: inline-block;
            transition: all .3s;
          }
          
          &:hover {
            
            a {
                color: $primary-blue;
                transform: translateY(-1px) scale(1.05);
              }
            }
          }
      }

      .copyright {
        color: rgba($white, 0.8);
        margin-top: .5rem;
      }
      .connect-links {
        flex: 1;
        color: $white;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          font-family: 'Raleway', sans-serif;
          font-size: 1.2rem;
          letter-spacing: 1px;
          font-weight: 600;
          margin-left: 1.9rem;
        }

        ul {
          width: 50%;
          margin: 0 auto;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          li {
            list-style: none;
            display: inline-block;
  
            .fa {
              text-decoration: none;
              color: $white;
              text-align: center;
              line-height: 2.1rem;
              font-size: 1.5rem;
              padding: .5rem .5rem;
              width: 3rem;
              height: 3rem;
              background: $black;
              border-radius: 50%;
              transition: all .2s;
  
              &:hover {
                background: $white;
                color: $primary-blue;
              }
            }
          }
        }

      }
    
    }

}

@media (max-width: 1000px) {
  .schedule {
    .event-popup {

      .popup-detail {
        width: 90vw;
        height: 90vh;

        .info {
          width: 85vw;

          p:last-child {
            width: 80vw;
          }
        }

        .faq {
          width: 85vw;
        }

        .prizes {
          width: 80vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
    @import 'mobile-view';   
    .navigation {
        display: none;
    }




  .event{

    height:340vh;

    &-1,&-2,&-3,&-4{
      margin-top: 100px;
    }
  }


  .event-1 .event-popup_c .popup-detail_c .close_c, .event-2 .event-popup_c .popup-detail_c .close_c, .event-3 .event-popup_c .popup-detail_c .close_c, .event-4 .event-popup_c .popup-detail_c .close_c {
    top: 1vw;
    background-color: white;
    color: black;
}

  // event section> schedule
  .event-1 .event-popup_c .popup-detail_c, .event-2 .event-popup_c .popup-detail_c, .event-3 .event-popup_c .popup-detail_c, .event-4 .event-popup_c .popup-detail_c {
    position: fixed;
    width: 80vw;
    height: 85vh;
  }

  .event-1 .event-popup_c .popup-detail_c .heading, .event-2 .event-popup_c .popup-detail_c .heading, .event-3 .event-popup_c .popup-detail_c .heading, .event-4 .event-popup_c .popup-detail_c .heading {
    width: 60vw;
    margin:-5vw;
    border-bottom: 1px solid #8992b6;
    padding-top:2rem;
    h4{
      font-size:1.3rem;
      white-space: nowrap;
    }
  }

  .event-popup_c {
    .popup-detail_c {

        .close_c{
          background-color:transparent;
          color:black;
        }

        .info {
          width: 100vw;
          margin: 1rem auto;
          padding-bottom: 1rem;

          p:first-child {
              font-size: 1rem;
              color: #0e1b4d;
              font-weight: 700;
              letter-spacing: 1px;
              margin-top:10%;
          }
          p:last-child {
              width: 100vw;
              margin: 0.5rem auto;
              font-size: 0.8rem;
          }
         }

          .faq {
              display: none;
          }
          .prizes {
            text-align: center;
            padding: 1rem 0;
            width:100vw;
            margin: 0 auto;

            display: flex;
            flex-direction: column;
            align-items: center;

            &-c {
                user-select: none;

                p:first-child {
                    font-size: 1rem;
                    font-weight: 700;
                    letter-spacing: 1px;
                }

                p:last-child {
                    padding: 0.5rem 0;
                    font-size: 0.8rem;
                }
            }

            .link-c {
                margin: 1.3rem 0;

                a {
                    padding: 0.5rem 1.5rem;
                    display: inline-block;
                    border-radius: 10rem;
                    letter-spacing: 1px;
                    font-weight: 500;
                    font-size: 1rem;
                    transition: all 0.4s;
                }
            }
          }
      }
  }
}
