@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url('http://fonts.cdnfonts.com/css/greenth');
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

main {
  height: 100%;
}

.panel {
  position: fixed !important;
  width: 65% ;
  height: 100%;
  top: 0;
  left: 0;
}

section:not(.first) {
  opacity: 0;
  visibility: hidden;
}

.section_header {
  font-family: 'Greenth', sans-serif;
  font-size: 6rem;
}

.section_desc{
  font-family: 'Roboto', sans-serif;
      color: black;

    margin-left: -63%;
    word-break: break-word;
    margin-top: 14%;
}
/* buttons */
.btnfos {
  color: black;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btnfos {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btnfos:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(5) {
    margin-right: 0;
  }
}

.btnfos-1 {
  background: transparent;
  font-weight: 100;
  margin-right: 50%;
    position: absolute;
    margin-bottom: -26%;
  z-index: inherit;

}
.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btnfos-1 rect {
  fill: none;
  stroke: black;
  stroke-width: 0;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
}
.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


.description{
  width: 25%;
  margin-top: 10%;
  margin-left: -46%;
}

.first{
  transform: translate(0px, 0px);
}

.panel.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.panel h1 {
      font-size: 4.5em;
    color: white;
    font-weight: 600;
    margin-bottom: 4%;
    margin-left: 8%;
    position: relative;
    left: -200px;
}

.panel .gif img{
  width: 400px;
  display: block;
}

.panel .gif {
  border:2px black solid;
  border-radius: 100%;
  position: fixed;
  right: -22%;
  z-index: 100;
}

.panel.description {
  padding-bottom: 60px;
}

.white {
  background-color: #fafafa;
}

.white h1 {
  color: #1c1c1e;
}

.blue {
  background-color: #2c7ad2;
}

.orange {
  background-color: #e77614;
}

.red {
  background-color: #c82736;
}

.purple {
  background-color: #8d3dae;
}

.green {
  background-color: #28a92b;
}

#head{
  color: black;
  position: relative;
  margin: 0 auto;
  margin-right: 80%;
  font-family: 'Greenth', sans-serif;
  font-size: 5rem;
  line-height: 2.4rem;
  color: rgba(black, 1);
  display: flex;
  flex-direction: row;
  z-index: 3;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 20px;

}


.panel {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: black;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  position: fixed;
  z-index: 90;
}

.virus
{
-webkit-animation: spin1 20s infinite linear;
-moz-animation: spin1 20s infinite linear;
-o-animation: spin1 20s infinite linear;
-ms-animation: spin1 20s infinite linear;
animation: spin1 20s infinite linear;
    display: block;
}
 
@-webkit-keyframes spin1 {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin1 {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin1 {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin1 {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes spin1 {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
} 
#bodymovin {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
}
/*# sourceMappingURL=landing.css.map */


/* Bouncer */
.bouncer {
  position: absolute;
  margin: 5% auto 0 auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0px white;
}
.bouncer:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  transform: translateY(0%) rotate(-45deg);
  transition: transform 0.3s, opacity 0.3s;
  will-change: transform, opacity;
  animation: bounce 0.5s infinite alternate-reverse;
}
.bouncer:after {
  position: absolute;
  bottom: -50px;
  left: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 11px;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translateX(-50%);
  transition: transform 0.3s, opacity 0.3s;
  will-change: transform, opacity;
}

@-webkit-keyframes bounce {
  to {
    transform: translateY(80%) rotate(-45deg);
  }
}

@keyframes bounce {
  to {
    transform: translateY(80%) rotate(-45deg);
  }
}
.bouncer.infoOut:before {
  opacity: 0;
}
.bouncer.infoOut:after {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  top: -35px;
  left: -35px;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  opacity: 0;
}
.bubble:before, .bubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 50%;
  transform: scale(1);
}
.bubble[data-active=false]:before {
  -webkit-animation: none;
          animation: none;
}
.bubble[data-active=false]:after {
  -webkit-animation: none;
          animation: none;
}
.bubble[data-active=true]:before {
  -webkit-animation: explodeA 0.35s;
          animation: explodeA 0.35s;
}
.bubble[data-active=true]:after {
  -webkit-animation: explodeB 0.35s;
          animation: explodeB 0.35s;
}

@-webkit-keyframes explodeA {
  100% {
    transform: scale(1.5);
  }
}

@keyframes explodeA {
  100% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes explodeB {
  100% {
    transform: scale(2.5);
  }
}
@keyframes explodeB {
  100% {
    transform: scale(2.5);
  }
}

.images{
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-wrapper{
  position: absolute;
}
