@import url(//db.onlinewebfonts.com/c/e89ef6c6a5b8dcef3a6a883d8cf7b7bf?family=Guardians);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #333;
  text-align: center;
  box-shadow: inset 0 0 0 30px white;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

h1 {
  position: relative;
  margin: 0 auto;
  font-family: "Guardians", monospace;
  font-size: 3rem;
  line-height: 1.6rem;
  color: white;
  display: flex;
  flex-direction: row;
  z-index: 3;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  letter-spacing: 20px;
}
h1 span {
  position: relative;
  display: block;
  width: 1.8rem;
  height: 2rem;
}

.bouncer {
  position: relative;
  margin: 5% auto 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0px white;
}
.bouncer:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: translateY(0%) rotate(-45deg);
  transition: transform 0.3s, opacity 0.3s;
  will-change: transform, opacity;
  animation: bounce 0.5s infinite alternate-reverse;
}
.bouncer:after {
  content: "Drag and hit";
  position: absolute;
  bottom: -50px;
  left: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 11px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translateX(-50%);
  transition: transform 0.3s, opacity 0.3s;
  will-change: transform, opacity;
}

@-webkit-keyframes bounce {
  to {
    transform: translateY(80%) rotate(-45deg);
  }
}

@keyframes bounce {
  to {
    transform: translateY(80%) rotate(-45deg);
  }
}
.bouncer.infoOut:before {
  opacity: 0;
}
.bouncer.infoOut:after {
  opacity: 0;
  transform: translateX(-50%) translateY(100%);
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  top: -35px;
  left: -35px;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  opacity: 0;
}
.bubble:before, .bubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 50%;
  transform: scale(1);
}
.bubble[data-active=false]:before {
  -webkit-animation: none;
          animation: none;
}
.bubble[data-active=false]:after {
  -webkit-animation: none;
          animation: none;
}
.bubble[data-active=true]:before {
  -webkit-animation: explodeA 0.35s;
          animation: explodeA 0.35s;
}
.bubble[data-active=true]:after {
  -webkit-animation: explodeB 0.35s;
          animation: explodeB 0.35s;
}

@-webkit-keyframes explodeA {
  100% {
    transform: scale(1.5);
  }
}

@keyframes explodeA {
  100% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes explodeB {
  100% {
    transform: scale(2.5);
  }
}
@keyframes explodeB {
  100% {
    transform: scale(2.5);
  }
}